* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  align-items: center;
  margin-bottom: 5px;
  background-color: rgb(201, 214, 191);
  border-radius: 15px;
  height: 50px;
  color: rgb(133, 54, 179);
}

body {
  display: flex;
  flex-direction: column;
  width: 97vw;
  max-width: 1200px;
  margin: 10px auto;
}

#firstPart {
  display: flex;
  gap: 5px;
}

.list_category fieldset {
  height: 150px;
  display: flex;
  justify-content: center;
}

.list_category {
  display: inline-block;
  width: 100%;
}
fieldset {
  padding: 10px;
  background-color: rgb(201, 214, 191);
  border-radius: 15px;
  border: none;
  align-self: center;
}

legend {
  font-style: italic;
  font-weight: bold;
  color: rgb(133, 54, 179);
  padding-left: 20px;
}

#myLabel li,
#myInput li {
  padding-top: 10px;
}

input {
  outline: none;
  border: 0.5px solid gray;
}

#poids,
#taille,
#date {
  width: 120px;
}

#btn {
  background: rgb(252, 255, 249);
  border: none;
  height: 20px;
  width: 120px;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 50px;
  align-items: center;
  color: rgb(57, 57, 119);
}

#btn:hover {
  box-shadow: 0 0 5px rgb(117, 129, 109);
}
.list {
  display: flex;
  list-style-type: none;
}

ul {
  list-style-type: none;
  padding: 10px 20px;
}

li {
  background: none;
  color: rgb(145, 35, 86);
}

form li {
  padding-top: 10px;
}

#result {
  color: rgb(57, 57, 119);
  padding-left: 20px;
}

#horizontalLine {
  /* border: 0.5px black solid; */
  margin-top: 30px;
  position: relative;
  justify-content: center;
  text-align: center;
  display: flex;
}

#poidsInsuffisant {
  /* border: 0.5px black solid; */
  display: inline-block;
  height: 20px;
  width: 12%;
  background-color: rgb(122, 122, 255);
}

#poidsNormal {
  /* border: 0.5px black solid; */
  display: inline-block;
  height: 20px;
  width: 21.5%;
  background-color: rgb(122, 255, 173);
}

#embonpoint {
  /* border: 0.5px black solid; */
  display: inline-block;
  height: 20px;
  width: 16.5%;
  background-color: rgb(231, 255, 122);
}

#obésitéI {
  /* border: 0.5px black solid; */
  display: inline-block;
  height: 20px;
  width: 16.5%;
  background-color: rgb(255, 197, 122);
}

#obésitéII {
  /* border: 0.5px black solid; */
  display: inline-block;
  height: 20px;
  width: 16.5%;
  background-color: rgb(255, 160, 122);
}

#obésitéIII {
  /* border: 0.5px black solid; */
  display: inline-block;
  height: 20px;
  width: 15.5%;
  background-color: rgb(255, 122, 122);
}

#arrowInsuffisant {
  animation-duration: 2s;
  animation-name: glissementInsuffisant;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes glissementInsuffisant {
  from {
    margin-left: 0vw;
  }

  to {
    margin-left: 6vw;
  }
}

#arrowNormal {
  animation-duration: 3s;
  animation-name: glissementNormal;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes glissementNormal {
  from {
    margin-left: 0vw;
  }

  to {
    margin-left: 22vw;
  }
}

#arrowEmbonpoint {
  animation-duration: 3s;
  animation-name: glissementEmbonpoint;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes glissementEmbonpoint {
  from {
    margin-left: 0vw;
  }

  to {
    margin-left: 40vw;
  }
}

#arrowObésitéI {
  animation-duration: 3s;
  animation-name: glissementOI;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes glissementOI {
  from {
    margin-left: 0vw;
  }

  to {
    margin-left: 55vw;
  }
}

#arrowObésitéII {
  animation-duration: 3s;
  animation-name: glissementOII;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes glissementOII {
  from {
    margin-left: 0vw;
  }

  to {
    margin-left: 70.5vw;
  }
}

#arrowObésitéIII {
  animation-duration: 3s;
  animation-name: glissementOIII;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes glissementOIII {
  from {
    margin-left: 0vw;
  }

  to {
    margin-left: 86vw;
  }
}

#historiquePoids {
  display: flex;
  justify-content: center;
}

canvas {
  background-color: #f4f4f4;
  margin-top: 20px;
  margin-bottom: 20px;
}
